W3D5/q1/node_modules/
W3D5/q2/node_modules/
W3D5/q3/node_modules/
W3D5/q4/node_modules/
W3D5/q1/package-lock.json
W3D5/q2/package-lock.json
W3D5/q3/package-lock.json
W3D5/q4/package-lock.json

W3D6/q1/node_modules/
W3D6/q2/node_modules/
W3D6/q3_4/node_modules/
W3D6/q1/package-lock.json
W3D6/q2/package-lock.json
W3D6/q3_4/package-lock.json

W4D1/q1/node_modules/
W4D1/q2/node_modules/
W4D1/q3_4/node_modules/
W4D1/q1/package-lock.json
W4D1/q2/package-lock.json
W4D1/q3_4/package-lock.json

W4D2/q1/node_modules/
W4D2/q2/node_modules/
W4D2/q3/node_modules/
W4D2/q1/package-lock.json
W4D2/q2/package-lock.json
W4D2/q3/package-lock.json